@import "branding";

.profile-section {
  .skill-progress {
    margin-bottom: 1.5rem;
    height: 0.5rem;

    .skill-progress-bar {
      background-color: $color-primary;
      transition: width 1.5s ease;
    }
  }
}
