@import "branding";

.gallery-section {

  img {
    display: initial!important;
  }

  .slider {
    padding-top: 2rem;
    img {
      max-height: 60vh;
      max-width: 95%;
    }
  }

  .slider-nav-thumbnails {
    img {
      max-height: 100px;
      max-width: 100px;
    }

    @media (min-width: 768px) {
      img {
        max-height: 200px;
        max-width: 200px;
      }
    }
  }

  figcaption {
    padding: 1rem 0;
  }
}