@import "branding";

.navbar-at-top,
.navbar-scrolled {
  transition: 0.3s ease-out;
}

.navbar-at-top {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.navbar {
  text-transform: uppercase;
  a, button {color: black;}
}

.navbar-brand {
  font-weight: 700;
  font-size: 1.115rem!important;
  letter-spacing: 0.3rem;
}

.navbar-light {
  background-color: white;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}

@media (min-width: 992px) {
  .navbar {
    padding-left: 4rem;
    padding-right: 2.5rem;
  }

  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    font-size: 0.8rem;
  }
}

@media (max-width: 991px) {
  .navbar.bg-transparent {
    background-color: $background-color-3 !important; //yuk
  }
}
