@import 'branding';

body,
html {
  height: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.9rem;
}

h1,
h2,
h4,
h5,
.nav-link,
.navbar-brand {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
}

h4 {
  font-size: 1rem;
  letter-spacing: 0.1rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

.section-title {
  text-align: center;
  margin-bottom: 5rem;

  h2 {
    margin-bottom: 1rem;
    font-weight: 700;
    font-size: 1.8rem;
    letter-spacing: 0.1rem;
  }

  h3 {
    margin-bottom: 0;
    font-size: 0.8rem;
    color: $text-color;
  }
}

section {
  padding: 3rem 0 3rem 0;
}

p {
  font-size: 1.2rem;
}

section a {
  color: $color-primary;
}

.dark-link {
  color: black !important;
  text-decoration: underline;
}

ul {
  font-size: 1.2rem;
  li {
    padding-bottom: 0.25rem;
  }
}

.flex {
  display: flex;
}

.cta {
  border: 1px solid white;
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  font-size: 1.2rem;
}

section.portal-section {
  a {
    color: black !important;
  }
  .cta {
    border-color: black;
  }
}
